@model Product


<div class="Card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="p-0 text-white py-2">Delete Product</h2>

            </div>
        </div>
    </div>
    <div class="card-body py-4">
        <form asp-action="Delete">
            <div class="border p-3 mt-4 ">

                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-floating  py-2 col-12 ">
                    <input asp-for="Title" disabled class="form-control border-0 shadow" />
                    <label class="ms-2" asp-for="Title"></label>
                </div>

                <div class="form-floating  py-2 col-12">
                    <textarea asp-for="Description" disabled class="form-control border-0 shadow"></textarea>
                    <label class="ms-2" asp-for="Description"></label>
                </div>

                <div class="form-floating  py-2 col-12">
                    <input asp-for="Author" disabled class="form-control border-0 shadow" />
                    <label class="ms-2" asp-for="Author"></label>
                </div>

                <div class="form-floating  py-2 col-12">
                    <input asp-for="ISBN" disabled class="form-control border-0 shadow" />
                    <label class="ms-2" asp-for="ISBN"></label>
                </div>

                <div class="form-floating  py-2 col-12">
                    <input asp-for="ListPrice" disabled type="number" class="form-control border-0 shadow" />
                    <label class="ms-2" asp-for="ListPrice"></label>
                </div>

                <div class="form-floating  py-2 col-12">
                    <input asp-for="Price" disabled type="number" class="form-control border-0 shadow" />
                    <label class="ms-2" asp-for="Price"></label>
                </div>

                <div class="form-floating  py-2 col-12">
                    <input asp-for="Price50" disabled type="number" class="form-control border-0 shadow" />
                    <label class="ms-2" asp-for="Price50"></label>
                </div>

                <div class="form-floating  py-2 col-12">
                    <input asp-for="Price100" disabled type="number" class="form-control border-0 shadow" />
                    <label class="ms-2" asp-for="Price100"></label>
                </div>

                <div class="row pt-2">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary form-control">Delete</button>
                    </div>
                    <div class="col-6">
                        <a asp-action="Index" asp-controller="Product" class="btn btn-outline-primary form-control">Back to list</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>





