@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment Successfull !</h1>
        order Number: @Model <br/><br/>
        <img src="~/Images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br/>
        Payment has been applied Successfully !
        <br/>
        <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route_orderId="@Model" class="btn btn-primary">
            Back to oeder Details
        </a>
    </div>
</div>

