@model Category


<div class="Card shadow border-0 mt-0 py-3">
    <div class="card-header bg-secondary bg-gradient mt-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="p-0 text-white py-2">Delete Category</h2>

            </div>
        </div>
    </div>
    <div class="card-body py-4">
        <form asp-action="Delete">
            <div class="border p-3 mt-4 ">

                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-floating  py-2 col-12 ">
                    <input asp-for="Name" disabled class="form-control border-0 shadow" />
                    <label class="ms-2"  asp-for="Name"></label>
                </div>

                <div class="form-floating  py-2 col-12">
                    <input asp-for="DisplayOrder" disabled class="form-control border-0 shadow" />
                    <label class="ms-2" asp-for="DisplayOrder"></label>
                </div>

                <div class="row pt-2">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary form-control">Delete</button>
                    </div>
                    <div class="col-6">
                        <a asp-action="Index" asp-controller="Category" class="btn btn-outline-primary form-control">Back to list</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>





