@model List<Category>

<div class="container">
    <div class="row pt-3">
        <div class="col-6">
            <h2 class="text-primary">
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="" asp-action="" class="btn btn-primary">
            <i class="bi bi-plus-circle"> Add New Category</i>
            </a>
        </div>
    </div>

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Display Order</th>
    </tr>
    @foreach(var obj in Model){
    <tr>
        <th>@obj.Name</th>
        <th>@obj.DisplayOrder</th>
    </tr>
    }
</table>
</div>