@model Company


<div class="Card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient mt-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="p-0 text-white py-2">@(Model.Id != 0 ? "Update" : "Create") Company</h2>

            </div>
        </div>
    </div>
    <div class="card-body py-4">
        <form method="post" >
            <div class="row">
                <div class="col-12 pt-2">
                    <div class="border p-3 mt-4">
                        <input asp-for="Id" hidden />

                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-floating  py-2 col-12 ">
                            <input asp-for="Name" class="form-control border-0 shadow" />
                            <label class="ms-2" asp-for="Name"></label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                       @* <div class="py-2 col-12">
                            <label class="ms-2 text-muted" asp-for="StreetAddress"></label>
                            <textarea asp-for="StreetAddress" class="form-control border-0 shadow"></textarea>
                        </div>*@

                        <div class="form-floating  py-2 col-12">
                            <input asp-for="StreetAddress" class="form-control border-0 shadow" />
                            <label class="ms-2" asp-for="StreetAddress"></label>
                            <span asp-validation-for="StreetAddress" class="text-danger"></span>
                        </div>

                        <div class="form-floating  py-2 col-12">
                            <input asp-for="City" class="form-control border-0 shadow" />
                            <label class="ms-2" asp-for="City"></label>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>

                        <div class="form-floating  py-2 col-12">
                            <input asp-for="State" class="form-control border-0 shadow" />
                            <label class="ms-2" asp-for="State"></label>
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>

                        <div class="form-floating  py-2 col-12">
                            <input asp-for="PostalCode" type="number" class="form-control border-0 shadow" />
                            <label class="ms-2" asp-for="PostalCode"></label>
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>

                        <div class="form-floating  py-2 col-12">
                            <input asp-for="PhoneNumber" type="number" class="form-control border-0 shadow" />
                            <label class="ms-2" asp-for="PhoneNumber"></label>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>


                       @* <div class="form-floating  py-2 col-12">
                            <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Category--</option>
                            </select>
                            <label class="ms-2" asp-for="Product.CategoryId"></label>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>*@

                        <div class="row pt-2">
                            <div class="col-6">
                                @if (Model.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                            </div>
                            <div class="col-6">
                                <a asp-action="Index" asp-controller="Company" class="btn btn-outline-primary form-control">Back to list</a>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
     
        </form>
    </div>
</div>



@section scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons   lists   table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough  addcomment showcomments  | align lineheight | checklist numlist bullist indent outdent |',
        
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
